html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 300;
    color: $primaryTextColor;
    font-family: $primaryFont;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media ($mobile) {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

a,
button {
    text-decoration: none;
    color: inherit;
    transition: 0.25s;
}

button {
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

button:focus {
    outline: 0;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

strong,
b {
    font-weight: bold;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
textarea {
    -webkit-appearance: none;
}

:-moz-focusring,
::-moz-focus-outer {
    border: 0 !important;
    outline: 0 !important;
}

::selection {
    background-color: $primaryColor;
    color: #ffffff;
}
