/*
// Colors
*/
$primaryTextColor: #4d4c4c;
$primaryColor: #005c72;
$secondaryColor: #73ac2c;

/*
// Fonts
*/
$primaryFont: 'Open Sans', sans-serif;

/*
// Media queries
*/
$smallDesktop: "max-width: 1600px";
$laptop: "max-width: 1380px";
$largeTablet: "max-width: 1240px";
$tablet: "max-width: 1030px";
$mediumTablet: "max-width: 860px";
$smallTablet: "max-width: 760px";
$smallerTablet: "max-width: 600px";
$mobile: "max-width: 480px";
